.cart-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.cart-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background: rgba(127, 160, 161, 0.7);
    margin: 10px;    
    height: 85vh;
    overflow: auto;
    border-radius: 10px;
}

.order-summary-container{
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.cart-item-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-shrink: 0;
}

.your-cart{
    position: relative;
    top: 26px;
    margin-bottom: 50px;
}

.cart-character-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
} 

.amend-days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}


.cart-character-info-container{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
}

.cart-character-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 5px;
}

.delete-item{
    align-self: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.delete-item:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

.delete-item:active{
    background-color: grey;
}

.cart-header{
    border-bottom: solid black 1px;
    padding-bottom: 15px;
    width: 90%;
    align-self: center;
    font-weight: bold;
    font-size: larger;
    
}

.empty-cart{
    font-weight: bold;
}

.add-npc{
    font-weight: 100;
}



.checkout-button{
    width: 30%;
    align-self: center;
    padding: 5px;
    border: none;
    background-color: rgb(243, 185, 78);
}

.checkout-button:hover {
    cursor: pointer;
}

.num-of-days{
    width: 200px;
    
}

.amend-qty-btn{
    position: relative;
    bottom: 2px;
    border: none;
}

.amend-qty-btn:hover {
    cursor: pointer;
}

.amend-qty-btn:active {
    background-color: grey;
}

.button-width{
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: 5px;
}