nav {
    background-color: rgba(127, 160, 161, 0.9);
    display: flex;
    justify-content: space-around;
    
    color: rgb(0, 0, 0);
    align-items: center;
    font-weight: bold;
    font-size: larger;
    min-height: 50px;
    height: 10vh;
    width: 100vw;
}

.list {
    list-style: none;
}

.page-names {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80vw;
    align-items: center;
}

.logo{
    width: 40px;
    align-self: left;
    border-radius: 5px;
}

.home{
    width: 25vw;
}

.shop{
    width: 25vw;
}

.cart{
    width: 25vw;
}

.cart-icon{
    font-size: 40px;
    position: relative;
    top: 11px;
}

.cart-number{
    position: relative;
    color: black;
    bottom: 24px;
    left: 5px;
}

.logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

@media screen and (max-width: 785px) {
    nav {
        all: unset;
        background-color: rgba(127, 160, 161, 0.9);
        display: flex;
        justify-content: space-evenly;
        
        color: rgb(0, 0, 0);
        align-items: center;
        font-weight: bold;
        font-size: larger;
        min-height: 50px;
        height: 10vh;
        width: 100vw;
    }

    .logo-text{
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        font-family: 'Papyrus';
    }
  }

