nav {
    background-color: rgba(63, 87, 87, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;

}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}